nav .logo {
  color: #444;
}
nav {
  background-color: transparent !important;
  -webkit-box-shadow :none; -moz-box-shadow: none; box-shadow: none;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
nav svg {
  min-height: 150px;
  max-height: 18vh;
}

.nav {
  height: 15vh;
}

.nav-logo {
  position: fixed;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
}

h1, h2, h3 {
  color: #f1a513;
}

p {
  line-height: 2rem;
}

.button-menu i{
  color: white;
  vertical-align: middle;
}

.contentRoot {
  margin: 20vh auto 0 auto;
  width: 100vw;
  height: 80vh;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}



/*Login Form*/
/*          */
#signin {
  padding: 25px;
}

.input-field {
  width: 85%;
  margin: auto;
}

.input-field label {
  color: #f1a513;
}
.input-field input:focus + label {
  color: #f1a513 !important;
}
.input-field input:focus, .materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #f1a513 !important;
  box-shadow: 0 1px 0 0 #f1a513 !important;
}
/*Autofill Overwrite*/
@-webkit-keyframes autofill {
    to {
        color: white;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.loginHandler {
  width: 100px;
}

.externalBtns {
  padding-bottom: 15px;
}

.hide {
  display: none;
}


/* Core CSS*/
.content-box {
  color: white;
  width: 90%;
  margin: auto;
  background-color: #4E43F9;
  border-radius: 20px;
  text-align: center;
}
.content-box h1 {
  font-size: 2.4rem;
  margin: 0;
}
.content-box h2 {
  position: relative;
  font-size: 1.8rem;
  margin: 15px;
}
.content-box-inner {
  padding: 25px 10px 25px 10px;
  margin: 0;
}

/* .game-box {
  color: #fff;
  width: 90%;
  margin: auto;
  background-color: #4E43F9;
  border-radius: 20px;
  text-align: center;
}
.game-box h2 {
  font-size: 1.8rem;
  margin: 15px;
}
.game-box p {
  width: 80%;
}
.game-box-inner {
  padding: 25px 10px 25px 10px;
  width: 90%;
} */

button {
  color: white;
  border-radius: 25px;
  border: 2px solid white;
  width: 60%;
  line-height: 3rem;
  font-size: 1.2rem;
  /* background-color: #5c71f7; */
  background-color: #324192;
}

.buttons-2 {
  width: 40%;
  margin: 0 2vw;
}

/* button:focus {
  background-color: #7B46F9;
} */


/*Game Pages*/
video {
  width: 70vw;
  margin: 0 auto;
  align-content: center;
  text-align: center;

}

.choice-box {
  position: relative;
  height: 150px;
  margin-bottom: 5vh;
  background-size: 1100px;
}

.choice-label {
  position: absolute;
  bottom: 0;
  font-size: 3.2rem !important;
  text-shadow: -2px 2px 0px #7B46F9;
}

.choice-bg {
  position: absolute;
  height: 150px;
  width: 100%;
}

.choice-box h2 {
  line-height: 150px;
  vertical-align: middle;
}

@media only screen and (max-width : 992px) {
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}
